<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime" ng-change="test()">
    Open only one at a time
  </label>
	<accordion close-others="oneAtATime">
    <accordion-group heading="{{user.name}}:{{user.role}}" ng-repeat="user in users" class="cursor">
    	<button ng-click="delete(user)" class="btn btn-danger btn-xs pull-right trash"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      	Email: {{user.email}} <br>
      	Role: <div class="panel panel-default role_panel">
		    	<form name="myForm">          
					<input type="radio" ng-model="user.role" ng-change="changeRole(user)" value="user"> user <br>
				    <input type="radio" ng-model="user.role" ng-change="changeRole(user)" value="editor"> editor<br>
				    <input type="radio" ng-model="user.role" ng-change="changeRole(user)" value="admin"> admin
			  	</form>
			</div>
    </accordion-group>
  </accordion>
</div>